<footer>
<p><a href="https://github.com/Kathycat78" class="pInFooter"><i class="fa-brands fa-github"></i> GitHub</a></p>
<p><a href="https://www.linkedin.com/in/HELYE catherine/" class="pInFooter"><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></p>
<p>© Kathycat78 pour LePoleS {{ "now"|date("Y") }}<p>
</footer>